<div class="olympic">
    <div *ngIf="errorMessage">
        {{ errorMessage }}
    </div>

    <header><h1>{{ countryName }}</h1></header>
    <div *ngIf="!errorMessage" class="section">
        <div class="article">Number Of Entries : {{ numberOfEntries }}</div>
        <div class="article">Total Number Medals : {{ totalNumberOfMedals }}</div>
        <div class="article">Total Number Of Athletes : {{ totalNumberOfAthletes }}</div>
    </div>
    <div class="myChart">
        <canvas id="myChartJsLine">

        </canvas>
    </div>

    <button routerLink="/">Go Back To Home</button>
</div>
