.olympic {
    box-sizing: border-box;
    width: 60%;
    margin: 10px auto;
    padding: 0px 10px;
    box-shadow: lightgray 4px 4px 20px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 5%;

    .img_logo {
        width: 100%;
        margin: 0;
        padding: 0;
        img {
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
    .section {
        display: flex;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 30px;
        .article {
            box-sizing: border-box;
            border: solid 1px;
            margin: 0;
            margin-right: 10px;
            margin-bottom: 20px;
            padding: 5px 5px;
            border-radius: 5px;
            h4 {
                color: #858484;
                margin: 2px;
            }
            p {
                margin: 0;
                text-align: center;
                font-weight: bold;
            }

        }

        @media screen and (max-width: 768px) { // break point of telephone,
            flex-direction: column;
            font-size: 10px;
            width: 100%;
            margin: 0;
            padding: 0;
            margin-left: 65%;
            .article {
                text-align: center;
                width: 33%;
                padding: 0px 1px;
                margin: 2px;
            }

        }

    }

    header {
        margin-top: 40px;
        background: rgb(21, 174, 169);
        margin-bottom: 20px;
        text-align: center;
        border-radius: 5px;
        width: auto;
        h1 {
            color: white;
            font-size: 20px;
            display: inline-block;
             padding: 2px 5px;
            margin: 0
        }
        @media screen and (max-width: 768px) { // break point of telephone,
           padding: 0;
           margin: 2px;
           height: 100%;
           h1 {
            font-size: 13px;
           }
        }
    }

    .myChart {
        margin: auto;
        box-sizing: border-box;
        width: 50%;
    }

    @media screen and (max-width: 768px) {
        body {
            width: 100%;
        }

    }

}